<footer>
  <div class="footer-info">
    <div class="social-info">
      <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
    </div>
    <div class="brand-info">&copy;StayLocator Private Limited</div>
    <div class="links-info">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>
  </div>
</footer>
