* {
    box-sizing: border-box;
    font-family: "Arima", system-ui;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: #fff;
}

.button-alignment {
    display: flex;
    justify-content: space-between;
}

.logIn-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-right: 1rem;
}

.menu {
    padding: 20px 20px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin: 0 15px;
}

.menu a {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    padding: 4px 0;
}

.menu a::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: black;
    transition: 0.5s transform ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 0 50%;
}

.menu a:hover::before {
    transform: scale3d(1, 1, 1);
}

.menu a::before {
    background: #E91E63;
    transform-origin: 0 50%;
}

.menu a:hover::before {
    transform-origin: 100% 50%;
}

.fa-airbnb {
    color: #fe424d;
    font-weight: 600 !important
}

.nav-link {
    color: #222222 !important
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    z-index: 1000;
  }
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    padding: 5px;
}

.footer-info a {
    text-decoration: none;
    color: #222222;
    cursor: pointer;
}

.footer-info a:hover {
    text-decoration: underline;
}

.social-info,
.links-info,
.brand-info {
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-info i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

/* Cards */

.heading-title {
    margin-top: 1rem !important;
}

.listing-card {
    text-decoration: none;
}

.card {
    border: none !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body h5 {
    padding: 0 !important;
    font-weight: 700;
    line-height: 1rem !important;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.3;
    background-color: #fff;
}

.button-text {
    font-weight: 500 !important;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}